<!DOCTYPE html>
<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyA4yhZsfH-esLE2VDZJousfFEtW5Bqg-Pw",
        authDomain: "agile-626f1.firebaseapp.com",
        databaseURL: "https://agile-626f1.firebaseio.com",
        projectId: "agile-626f1",
        storageBucket: "",
        messagingSenderId: "457572947811"
    };
    firebase.initializeApp(config);
</script><!DOCTYPE html>
<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyA4yhZsfH-esLE2VDZJousfFEtW5Bqg-Pw",
        authDomain: "agile-626f1.firebaseapp.com",
        databaseURL: "https://agile-626f1.firebaseio.com",
        projectId: "agile-626f1",
        storageBucket: "",
        messagingSenderId: "457572947811"
    };
    firebase.initializeApp(config);
</script><html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>