<form action="/register2" method="POST">
Username<input type="text" name="username"/>
Password<input type="password" name="password"/>
First Name<input type="text" name="firstname"/>
Last Name<input type="text" name="lastname"/>
<button type="submit" class="btn btn-default">Register</button>
</form>